@{
    ViewData["Title"] = "Index";
}
<h1>@ViewData["Title"]</h1>

<p>Prosze kliknac na "Send Request", aby wyslac zadanie</p>
<p>Prosze kliknac na "Read From File", aby wyswietlic wszystkie poprzednie zadania</p>
